###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hiero-ledger/solo-containers-committers @hiero-ledger/solo-containers-maintainers

############################
#####  Project Files  ######
############################

/charts/**                                      @hiero-ledger/solo-containers-committers @hiero-ledger/solo-containers-maintainers

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hiero-ledger/solo-containers-maintainers @hiero-ledger/github-maintainers
/.github/workflows/                             @hiero-ledger/solo-containers-maintainers @hiero-ledger/github-maintainers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hiero-ledger/solo-containers-maintainers

# Protect the repository root files
/README.md                                      @hiero-ledger/solo-containers-committers @hiero-ledger/solo-containers-maintainers
**/LICENSE                                      @hiero-ledger/solo-containers-maintainers

# Git Ignore definitions
**/.gitignore                                   @hiero-ledger/solo-containers-committers @hiero-ledger/solo-containers-maintainers @hiero-ledger/github-maintainers
**/.gitignore.*                                 @hiero-ledger/solo-containers-committers @hiero-ledger/solo-containers-maintainers @hiero-ledger/github-maintainers
